tmp
files
*substvars
*debhelper.log

debhelper-build-stamp
olympia-base.postinst.debhelper
olympia-base.prerm.debhelper

olympia-base/
vim-olympia/
olympia-ca/

olympia-devel-debian/
olympia-devel-golang/
olympia-devel-python/
olympia-devel-misc/
olympia-devel/

olympia-opensc/
olympia-yubikey/
olympia-libpam-pkcs11/
olympia-desktop/

olympia-extras/
olympia-serving-suggestions/

olympia-archive/
olympia-server/
