#!/usr/bin/make -f
%:
	dh $@ --with=config-package


ARCHIVE_GPG=gpg --no-default-keyring --keyring=$(CURDIR)/olympia.keyring.gpg

override_dh_auto_build:
	dh_auto_build
	$(ARCHIVE_GPG) --import < olympia.asc

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/tmp/etc/apt/trusted.gpg.d/
	$(ARCHIVE_GPG) --export > $(CURDIR)/debian/tmp/etc/apt/trusted.gpg.d/olympia.gpg

override_dh_auto_clean:
	dh_auto_clean
	rm -vf $(CURDIR)/olympia.keyring.gpg \
	       $(CURDIR)/olympia.keyring.gpg~
